@page
@model BookList.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <a asp-page="/Books/Create" class="btn btn-info form-control text-white">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if(Model.Books.Count() > 0) {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Description"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().ISBN"></label>
                        </th>
                        <th></th>
                    </tr>
                    @foreach(var book in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m=>book.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>book.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>book.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>book.ISBN)
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">Delete</button>
                                <a class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            } else
            {
                <p>No books avalaible.</p>
            }
        </form>
    </div>
</div>
